.intro {
  @include max-width-element;
  @include main-padding;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  display: grid;
  justify-content: center;
  gap: $spacing__s;

  &__key-points {
    @include font__sizing(18px, 22px);
    max-width: 720px;
    margin: auto;
  }

  &__button {
    @include button;
    margin: auto;

    @include mq($until: m) {
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 10;
      padding: 12px 20px;
      width: calc(100% - 40px);
    }
  }
}